{% extends "CSE/base.html" %}

{% block content %}

<div class = "container" style="padding: 40px;">
    <div class="row featurette">
      <div class="col-sm-9">
        <h2 class="featurette-heading" style = "text-align: center;"> <b>Message form dean</b><span class="text-muted"></span></h2>
        <p class="lead" style= "text-align: justify; font-family:cambria;">The mission of School of Computing Science and Engineering (SCSE) is to try obstinately 
          for accomplishing distinction in computing disciplines. It is being pursued through its gamut of academic
          programmes in computing of contemporary standards. The main objective is to make computing graduates with capability
          to design and develop systems involving the integration of software and hardware devices through innovative approaches to 
          programming and solving problems of an organization.
          SCSE is committed to academic excellence, with special focus on teaching-learning process, research
          and holistic development through our Fully Flexible Credit System (FFCS). We inculcate multi-disciplinary and 
          inter-disciplinary competence and leadership skills in our students. SCSE aims to equip the students with the ability and skills 
          to analyze, design and develop computer systems and their applications, with a curriculum that has a balanced emphasis on theory, practical’s
          and projects. The focus will be on development and strengthening systems thinking, problem solving, analysis, design, research, team work, communication skills, 
          and readiness for lifelong learning in areas of Artificial Intelligence, Machine Learning, Deep Learning, Cloud Computing, Cyber Security, Internet of Things. The courses run by the 
          Department will use mixed techniques of interactive lectures, tutorials, laboratory work, guided case studies, literature surveys and project work that require team work, critical and 
          creative thinking. Creativity flourishes in an atmosphere that is free, friendly and above all, democratic and participatory in nature. Every course is designed, delivered and monitored in 
          a manner that will add a significant value to a student. We equally emphasize on the development of core 
          human values, mental well-being and physical well-being of our students.SCSE is headed by Dr. Munish Sabharwal, has a team of more than 6000 students and 180 core faculty members with rich 
          experience in research, industry and academics as well as many visiting professors, distinguished professionals from industry, eminent researchers and teaching/ research assistants. These team members are 
          handpicked from reputed institutions 
          on the basis of their expertise in the different domains of Computer Science and Engineering.
          The school offers UG (B.Tech [CSE], B.Tech [CSE+ Specializations], BCA), PG (MCA, MTech (CSE), 
          MTech [AI & ML]) and research programs in Computer Science and Engineering. The curricula offered are
         contemporary and updated regularly. The B. Tech. (CSE+ Specialization) offered by the school is an attempt to keep pace with the fast-changing computing technology and to satisfy the requirements of the industry. 
         The SCSE takes initiative to bring together the latest software applications, real-world industry experiences, hands-on lab course, the best project- based teaching & learning practices along with case studies all into a 
         single unique educational program.
          Become a pioneering world-class Centre of Excellence in computing education and research through collaborative, consultative and participatory approaches
          Provide cost-effective Information and Communication Technology (ICT)-based solutions and value-added services to a variety of organizations and to meet the expectations of stakeholders
          Nurture effective capabilities for the development of high quality technical and scientific manpower to meet the challenges of the contemporary knowledge based economy and industry 4.0
          Today we are all witnessing the impact of globalization and liberalization with the technological transformation having impacted all our lives. The present era has many challenges and academic institution must address these challenges. At school level we are constantly taking efforts to ensure that our students will showcase their academic talent with high moral values and being Engineers they will contribute and for sure will keep Social Commitment. 
          We want our students to be committed, dedicated to their goals along with integrity and concern for the environment and rural society they live in.
        </p>
          <p><b>Dr. Munish Sabharwal<br>
            Ph.D (Management), Ph.D (CS)<br>
            Professor & Dean<br>
            School of Computing Science & Engineering</b></p>
      </div>
      <div class="col-sm-3">
        <img src = "/media/dean.jpg">
      </div>
    </div>
    </div>

{% endblock content%}